<div class="page">
    <!--BEGIN actionSheet-->
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_menu">
                <% for (var i in theme.menu){ %>
                <div class="weui_actionsheet_cell"><a href="<%- theme.menu[i] %>"><%= __(i) %></a></div>
                <% } %>
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell" id="actionsheet_cancel"><%= __('cancel')%></div>
            </div>
        </div>
    </div>
    <!--END actionSheet-->
</div>

<p class="copyright">
    Powered by <a href="http://hexo.io" target="_blank" title="hexo">hexo</a> and Theme by <a href="https://github.com/zhanghuangang/weiui" target="_blank" title="WeiUi">WeiUi</a> © <%= new Date().getFullYear() %>
    <% if (config.author) { %>
    <a href="<%= config.root %>" target="_blank" title="<%= config.author %>"><%= config.author %></a>
    <% } else {%>
    <a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
    <% } %>
</p>