<p class="copyright">
    Powered by <a href="http://hexo.io" target="_blank" title="hexo">hexo</a> and Theme by <a href="#" target="_blank" title="WeiUi">WeiUi</a> © <%= new Date().getFullYear() %>
    <% if (config.author) { %>
    <a href="<%= config.root %>" target="_blank" title="<%= config.author %>"><%= config.author %></a>
    <% } else {%>
    <a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
    <% } %>
</p>